@charset "utf-8";

.clickable{
	cursor:pointer;
}

.content-container{
	background-color: #ffffff;
	height: 100%;
	overflow-y:auto;
}

.content-container-show-hamburger{
	margin-left: 290px;
}

.app-menuItem{
	height: 27px;
  width: 100%;
  display: block;
}


.app-menuItem>span:first-child{
	display: inline-block;
  font-size: 22px;
   top: 3px;
  float: left;
  margin-left: 10px;
}
.app-menuItem>span:last-child{
	display: inline-block;
  font-size: 14px;
  top: 7px;
  margin-left: 5px;
  float: left;
}

.results{
  overflow: hidden;
}

.ui-program-au-holder{
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
  border-right: solid 1px #e5e5e5;
  height: 133px;
}

.ui-program-search-item{
  border-bottom: 1px #e5e5e5 solid;
  padding: 20px 30px 20px;
  white-space: nowrap;
}

.program-list-mention-text{
  overflow: hidden;
  font-size: 16px;
  width: 380px;
  display: block;
  vertical-align: top;
  height: 59px;
  white-space: normal;
}

.program-list-mention-container{
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 150px);
  overflow: auto;
}

.program-container{
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
  border-right: solid 1px #e5e5e5;
  white-space: normal;
}

.prog-avtr2{
  margin-left:50px;
  width: 86px;
  height: 86px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: top;
  background: #f1f1f1;
  background-position: center;
  overflow: hidden;
}

.prog-title2{
  width: 180px;
  vertical-align: top;
  text-align: center;
  margin-top: 10px;
}

.adv-holder-trend{
  display: inline-block;
  left: calc(100% - 70px);
}

.trends-date-filter{
  float: right;
  margin-right: 83px;
}
