@charset "utf-8";

.clickable{
	cursor:pointer;
}

.content-container{
	background-color: #ffffff;
	height: 100%;
	overflow-y:auto;
}

.content-container-show-hamburger{
	margin-left: 290px;
}

.app-menuItem{
	height: 27px;
  width: 100%;
  display: block;
}


.app-menuItem>span:first-child{
	display: inline-block;
  font-size: 22px;
   top: 3px;
  float: left;
  margin-left: 10px;
}
.app-menuItem>span:last-child{
	display: inline-block;
  font-size: 14px;
  top: 7px;
  margin-left: 5px;
  float: left;
}

.results{
  overflow: hidden;
}

.ui-program-au-holder{
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
  border-right: solid 1px #CCCCCC;
  height: 133px;
}

.ui-program-search-item{
  border-bottom: 1px #CCCCCC solid;
  padding: 20px 30px 20px;
  white-space: nowrap;
}

.program-list-mention-text{
  overflow: hidden;
  font-size: 16px;
  display: block;
  vertical-align: top;
  height: calc(100% - 26px);
  white-space: normal;
  color: #333333;
}

.program-list-mention-container{
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 190px);
  overflow: auto;
  line-height: 1.375;
}

.program-container{
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
  white-space: normal;
}

.prog-avtr2{
  margin: 25px 0px 0px 40px;
  width: 88px;
  height: 88px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: top;
  background: #f1f1f1;
  background-position: center;
  overflow: hidden;
}

.prog-title2{
  width: 180px;
  vertical-align: top;
  text-align: center;
  margin-top: 10px;
}

.adv-holder-trend{
  display: inline-block;
  left: calc(100% - 70px);
}

.trends-date-filter{
  float: right;
  margin-right: 83px;
}

#app-content{
  
}


.program-list-result{
  border-bottom: 1px #CCCCCC solid;
  padding: 0px;
}

.program-list-row{
  border-bottom: 1px #CCCCCC solid;
  padding: 10px;
  white-space: nowrap;
}

.program-list-row:hover{
  background-color: #fff6e0;
}

.program-list-row:hover .program-card{
  background-color: #ffffff;
  border: solid 1px #cccccc;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
}

.program-card{
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  border: solid 1px #ffffff;
  border-right: solid 1px #CCCCCC;
  height: 198px;
  width: 310px;
}

.program-mention-air-date{
  font-size: 12px;
  color: #9B9B9B;
}

.prog-avtr-style2{
  height:100%;
  clip-path: circle(44px at 44px 44px);
  -webkit-clip-path: circle(44px at 44px 44px);
}
