@charset "utf-8";

.clickable{
	cursor:pointer;
}

.content-container{
	background-color: #ffffff;
	height: 100%;
	overflow-y:auto;
}

.content-container-show-hamburger{
	margin-left: 290px;
}

.app-menuItem{
	height: 27px;
  width: 100%;
  display: block;
}


.app-menuItem>span:first-child{
	display: inline-block;
  font-size: 22px;
   top: 3px;
  float: left;
  margin-left: 10px;
}
.app-menuItem>span:last-child{
	display: inline-block;
  font-size: 14px;
  top: 7px;
  margin-left: 5px;
  float: left;
}