@charset "utf-8";

.header-icon{
	font-size: 20px;
	top: 25px;
}

.header-logo{
	top: 18px;
	margin-left: 16px;
}

.header-container{
	height:73px;
	position: relative;
	padding: 0px 20px 0px 20px;
	border-bottom: solid 1px #e6e6e6;
}

.header-left-section{
	padding-left: 30px;
	width: 272px;
	height:100%;
	left:0px;
	position: absolute;
}

.header-middle-section{
	height:100%;
	position: absolute;
	left:272px;
	right:149px;

}

.header-right-section{
	width: 149px;
	height:100%;
	position: absolute;
	right:0;
	padding-right: 30px;
}

.header-avatar-container{
	width:30px;
	height:30px;
	border-radius: 100%;
	overflow: hidden;
	position: absolute;;
	right:30px;
	top: 21px;
}

.header-avatar-container img{
	height:100%;
	clip-path: circle(15px at 15px 15px);
	-webkit-clip-path: circle(15px at 15px 15px);
}

.header-app-switcher{
	position: absolute;
	right: 92px;
}

.header-search-container{
	padding: 15px 0px 0px 16px;
}

.header-search-container input[type="text"]{
	border-radius:0px;
	box-shadow: inset 0px 0px 0px;
}

.header-button-search.blue-btn{
	width: 95px;
  	height: 38px;
  	line-height: 38px;
  	text-align: center;
}

.header-input-search{
	outline: none;
  	border-style: solid;
  	border-color: #e6e6e6;
  	width: calc(100% - 100px);
 	height: 38px;
  	box-shadow: inset 0px 0px 0px;
  	vertical-align: top;
  	font-size: 14px;
}