@charset "utf-8";

.image { 
	opacity: 0;  
}
.image-loaded { 
	opacity: 1;
	transition: opacity .2s ease-in; 
}

.icon-prop{
	opacity: .6;
}

.icon-prop:hover{
	opacity: 1;
}

.animation{
	-webkit-transition: all 0.2s; 
	-moz-transition: all 0.2s; 
	transition: all 0.2s;
}
