@charset "utf-8";

.image { 
	opacity: 0;  
}
.image-loaded { 
	opacity: 1;
	transition: opacity .2s ease-in; 
}

.icon-prop{
	color: #3e5063;
}

.icon-prop:hover{
	color: #61bae3;
}

.icon-prop-animation{
  transition: color 0.2s;
}

.animation-4{
  -webkit-transition: all 0.4s; 
  -moz-transition: all 0.4s; 
  transition: all 0.4s;
}

.animation-3{
  -webkit-transition: all 0.3s; 
  -moz-transition: all 0.3s; 
  transition: all 0.3s;
}

.animation-2{
	-webkit-transition: all 0.2s; 
	-moz-transition: all 0.2s; 
	transition: all 0.2s;
}

.animation-1{
  -webkit-transition: all 0.1s; 
  -moz-transition: all 0.1s; 
  transition: all 0.1s;
}

.animation-05{
  -webkit-transition: all 0.05s; 
  -moz-transition: all 0.05s; 
  transition: all 0.05s;
}

.scroll-animation {
  transition: left .6s ease;
}

.background-color-animation {
  transition: background-color .05s;
}

.boarder-color-animation {
  transition: border-color .1s;
}

.box-shadow-animation{
  transition: box-shadow .2s;
}

.program-card-animation{
 transition: border-color .15s, box-shadow .2s; 
}

.program-card-icon-animation{
  transition: opacity .1s; 
}


.component-appear {
  opacity: 0.01;
  transition: opacity .2s ease-in;
}

.component-appear.component-appear-active {
  opacity: 1;
}

.component-enter {
  opacity: 0.01;
  transition: opacity .2s ease-in;
}

.component-enter.component-enter-active {
  opacity: 1;
}

.component-leave {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.component-leave.component-leave-active {
  opacity: 0.01;
}


.ui-program-au-holder-appear {
  opacity: 0.01;
  transition: opacity .2s ease-in;
}

.ui-program-au-holder-appear.ui-program-au-holder-appear-active {
  opacity: 1;
}

.ui-program-au-holder-enter {
  opacity: 0.01;
  transition: opacity .2s ease-in;
}

.ui-program-au-holder-enter.ui-program-au-holder-enter-active {
  opacity: 1;
}

.ui-program-au-holder-leave {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.ui-program-au-holder-leave.ui-program-au-holder-leave-active {
  opacity: 0.01;
}

/*.inlay-play { width: 45px; height: 45px; display: inline-block; border-radius: 100%; background: url("../imageshome/sprite.png") -215px -122px rgba(0,0,0,0.5) ;  margin-right: 20px; vertical-align: middle;}*/